[user]
	email = vitalii.motso@gmail.com
	name = vitalii-motso 

[alias]
   st = status
   co = checkout
   ci = commit
   br = branch
   lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
       default = simple
[core]
    editor = "vim"
